<%- include("./layouts/header"); -%>
    <% if(typeof user !='undefined' ) {%>


        <div class="text">
            <h4>Welcome,you information is recorded.</h4>
        </div>
        <% } else {%>
            <div class="text">
                <h4>Please Signup or Login for update</h4>
            </div>

            <% } %>

                <%- include("./layouts/footer"); -%>